snippet clv "Console log verbose"
console.log('$1: ', ${1});
endsnippet

snippet clr "Console log and return value"
console.log('${VISUAL}: ', ${VISUAL});
return ${VISUAL};
endsnippet

snippet rco "React functional component"
const $1 = ({ $2 }) => (
  ${0:<div></div>}
);
$1.propTypes = {
};
$1.defaultProps = {
};

export default $1;
endsnippet
